@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700|Lobster');
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body {
	background: #1C1C1C;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	height: 100%;
	width: 100%;
}

/* PRELOADER */
body::before {
  content: 'loading';
  background-image: url('../images/loading.svg');
  background-size: 150px 150px;
	background-position: center center;
	background-color: #090909;
	background-repeat: no-repeat;
	letter-spacing: 0.1em;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	pointer-events: none;
	transition: transform 2.5s;
}

.loading::before {
	opacity: 1;
}

/* NAVIGATION */

div#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 4;
}
.navbar {
	padding: 20px 3%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	height: 72px;
}

.contained {
	max-width: 1300px;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.navbar .logo {
	margin: 1px 0 0;
	float: left;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
}

.navbar .logo img {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	height: auto;
}

.navbar .ozzle {
	float: right;
	position: fixed;
	top: 20px;
	right: 25px;
	display: none;
}

#animationStation.navbar-top .navbar .logo img {
	width: 170px;
}

.navbar nav {
	height: 100%;
	float: right;
}

.navbar nav ul li {
	list-style: none;
	float: left;
	margin: 5px 20px 0;
	padding: 0;
	display: inline-block;
}

.navbar nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
	cursor: pointer;
	color: #FFF;
	outline: none;
	text-decoration: none;
	transition: all ease 0.3s;
}

.navbar nav a:hover {
	color: #EA6429;
}

#animationStation.hello-bolt-intro a.boltNav, #animationStation.hello-bolt a.boltNav,
#animationStation.hello-features a.featuresNav,
#animationStation.hello-specs a.specsNav,
#animationStation.hello-flair a.flairNav,
#animationStation.hello-contact a.contactNav {
	color: #EA6429;
}

.navbar nav a:last-child {
	margin-right: 0;
}

#animationStation.navbar-top .navbar {
	padding-top: 35px;
	background: none;
}

#animationStation.navbar-scrolled .navbar {
	padding-top: 5px;
	background: rgba(100,100,100,0.4);
	backdrop-filter: blur(10px);  
  -webkit-backdrop-filter: blur(10px);
	box-shadow: 2px 0 15px 5px rgba(0,0,0,0.2);
}

#animationStation.navbar-scrolled .navbar .logo img {
	width: 120px;
	margin-top: 9px;
}

@media screen and (max-width: 990px) {
	.navbar .ozzle {
		display: block;
	}
	.navbar .logo {
		z-index: 1;
	}
	.navbar .logo img {
		position: fixed;
		height: 30px;
		top: 35px;
		left: 30px;
	}
	#animationStation.navbar-top .navbar .logo img {
		width: auto;
		margin-top: 0;
	}
	 #animationStation.navbar-scrolled .navbar .logo img {
		margin-top: -100px;
		 width: auto;
	}
	.navbar nav {
		position: fixed;
		background: rgba(24,24,24,0.90);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		display: flex;
		left: 50%;
		right: 50%;
		bottom: 50%;
		top: 50%;
		width: 0;
		height: 0;
		overflow: hidden;
		align-items: center;
		transition: all ease 0.5s;
	}
	.navbar nav.is-active{
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#animationStation.navbar-scrolled .navbar {
		background: none;
		backdrop-filter: none;  
		-webkit-backdrop-filter: none;
		box-shadow: none;
	}
	.navbar nav ul {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.navbar nav ul li {
		float: none;
		width: 100%;
		margin: 25px auto 0;
		padding: 0;
		display: block;
	}
	.navbar nav.is-active a {
		font-size: 18px;
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: 1.2s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
	}
}

@keyframes fadeIn {
	0%{opacity: 0;}
	40%{opacity: 0;}
	100%{opacity: 1;}
}

/*VIDEO*/
section#intro {
	height: 100vh;
}
#fluid_video_container  {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#fluid_video_container video {
	min-height: 100%;
	min-width: 100%;
	margin: 0 auto;
	position: absolute;
	left: -50%;
	right: -50%;
}

.top-vid {
	background: url(../images/bolt-jr-videobg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.top-vid .overlay {
	position: absolute;
	background-image: linear-gradient(45deg, #000, #666);
	opacity: 1;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 1;
}

.top-vid video {
	opacity: 0.8;
	z-index: 1;
}

.fancybox-media {
	cursor: pointer;
	z-index: 3;
}

.top-vid .play-btn {
	position: absolute;
	top: calc(50% - 57px);
	width: 113px;
	height: 113px;
	left: calc(50% - 60px);
	z-index: 2;	
	display: none;
}

.top-vid .play-btn #Oval {
	transition: all ease 0.5s;
	opacity: 1;
}

.top-vid .play-btn #Triangle {
	transition: all ease 0.5s;
	fill: #FFFFFF;
}

.top-vid .play-btn:hover #Oval {
	opacity: 0.2;
}

.top-vid .play-btn:hover #Triangle {
	fill: #EA6429;
}

.top-vid .goDownBtn {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
}

.videoLoad {
	/*background: url(../video/junior-bolt-small.mp4);*/
	width: 0;
	height: 0;
	background-size: 0;
}

@media screen and (max-width: 990px) {
	section#intro {
		height: calc(100vh - 75px);
	}
	.top-vid .overlay {
		opacity: 0.9;
	}
	video#fluid_video, .videoLoad {
		display: none;
		visibility: hidden;
	}
	.top-vid .play-btn {
		display: block;
	}
}

section {
	margin: 0 auto;
	line-height: 1.3;
	font-size: 1.8em;
	display: flex;
	align-content: center;
	outline: none;
	background: #000;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

section.notFullHeight {
	min-height: 0;
}

section h1 {
	font-size: 30px;
	font-weight: 700;
}

.orange {
	color: #EA6429;
	text-transform: uppercase;
}

.light {
	color: #EA6429;
}

section p {
	color: #DDDDDD;
	font-size: 16px;
	line-height: 24px;
	background: none;
	
}

section ul {
	color: #DDDDDD;
	font-size: 16px;
	line-height: 24px;
	padding: 50px 0 0;
}

section ul li {
	list-style: none;
	margin: 0 0 30px 1px;
	font-weight: 300;
}

section ul li::before {
	content: '';
	background-image: url(../images/bullet-image.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 10px -7px -40px;
}

.title {
	position: absolute;
	top: 0;
	align-self: flex-start;
}

.thin {
	font-weight: 300 !important;
}

.title.onLeft {
	left: 8%;
}

.title.onRight {
	left: 58%;
}

.centerVert {
	display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}

.bottom30 {
	position: absolute;
	bottom: 30px;
}

.bottom30.inMiddle {
	left: 0;
	right: 0;
}

.bottom30.onRight {
	left: 50%;
	right: 0;
}

.bottom30.onLeft{
	right: 50%;
	left: 0;
}

.fullWidth {
	display: inline-block;
	width: 100%;
}

.fullWidth h1 {
}

.fullWidth p {
	max-width: 500px;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.halfSection {
	width: 50%;
	min-height: 600px;
}

.twoThirds {
	width: 50%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.oneThird {
	width: 50%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.halfSection h1 {
	text-align: left;
}

.halfSection p {
	max-width: 550px;
}

.paddedTopBottom {
	padding: 60px 0 90px;
}

.paddedSides {
	padding: 0 10%;
}

.greyBack {
	background: #1c1c1c;
}

.greyBackDark {
	background: #151515;
}

.greyBackDarker {
	background: #111111;
}

.greyBackDarkest {
	background: #090909;
}

.orangeBack {
	background: #EA6429;
}

.greyBackL2R {
	background-image: linear-gradient(90deg, #222222, #000);
}

.greyBackR2L {
	background-image: linear-gradient(-90deg, #222222, #000);
}

section#the-bolt-junior-intro {
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 80vh;
	background: url(../images/boltJr_Image_5.png) fixed center no-repeat #010101;
	background-size: cover;
	border-top: 5px solid #010101;
	border-bottom: 5px solid #010101;
}

.textTop p {
	width: 30vw;
	max-width: 400px;
}

.img1 {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/boltJr_Image_1.png);
	width: 68%;
	height: 100%;
	min-height: 100vh;
	position: absolute;
	opacity: 0;
	right: -10%;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

#animationStation.hello-bolt section#the-bolt-junior .img1 {
	width: 69%;
	opacity: 0.8;
	right: 0;
}

.img2 {
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/boltJr_Image_2.png);
	width: 50%;
	height: 100%;
	min-height: 100vh;
	position: absolute;
	opacity: 0;
	left: 0;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

#animationStation.hello-features section#features .img2 {
	background-size: auto 100%;
	opacity: 0.8;
}

.lineDeco {
	margin-top: 100px;
	margin-bottom: 0;
	display: inline-block;
}

.lineDeco hr {
	width: 70px;
	border-top: 1px solid #444;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-top: 0;
	margin-bottom: 7px;
}

.lineDeco .top{
	margin-left: 100px;
	opacity: 0;
	transition: all ease 1.0s;
}

.lineDeco .bottom{
	margin-left: -20px;
	opacity: 0;
	transition: all ease 0.6s;
}

#animationStation.hello-bolt section#the-bolt-junior .lineDeco .top,
#animationStation.hello-features section#features .lineDeco .top,
#animationStation.hello-specs section#specs .lineDeco .top,
#animationStation.hello-flair section#flair .lineDeco .top,
#animationStation.hello-contact section#contact .lineDeco .top {
	margin-left: -10px;
	opacity: 1;
}

#animationStation.hello-bolt section#the-bolt-junior .lineDeco .bottom,
#animationStation.hello-features section#features .lineDeco .bottom,
#animationStation.hello-specs section#specs .lineDeco .bottom,
#animationStation.hello-flair section#flair .lineDeco .bottom,
#animationStation.hello-contact section#contact .lineDeco .bottom {
	margin-left: 10px;
	opacity: 1;
}

.toNextSection {
	opacity: 0.8;
	transition: all ease 0.3s;
}

.toNextSection:hover {
	opacity: 1;
}

.toNextSection a {
	color: #EA6429;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	display: block;
	margin: 7px 0;
}

#features ul {
	margin: 200px auto 170px;
}

.flairContainer {
	margin: 270px auto 200px;
}

.flairImage img {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.flairContainer h3 {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-size: 30px;
	padding: 50px 50px 60px;
	color: #DDDDDD;
	font-weight: 300;
}

/*FLIP GRID*/

.cardGrid {
  width: 100%;
	height: auto;
  margin: 0 auto;
	padding: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}

.card {
	width: 50%;
	height: 19vw;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: crosshair;
}

.card img{
	width: 60%;
	height: auto;
}

.card h3 {
	color: #EA6429;
	margin: 0;
	text-align: center;
	font-weight: 100;
	padding: 0;
	font-size: 24px;
}

.card p {
	text-align: center;
	color: #101010;
	font-weight: 300;
	font-size: 20px;
	margin: 0 auto;
	padding: 0;
	max-width: 250px;
}

.card .front, .card .back {
  padding: 10px;
  text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.card .front {
  background: #141414;
	border: 2px solid #000;
}

.card .back {
	background: #DDDDDD;
	border: 2px solid #101010;
}

@media screen and (max-width: 1100px) {
	.card {
		height: 25vw;
	}
	.card p {
		font-size: 16px;
		max-width: 180px;
	}
}

@media screen and (max-width: 990px) {
	.card {
		width: 25%;
	}
	.card p {
		font-size: 16px;
		max-width: 180px;
	}
}

@media screen and (max-width: 800px) {
	.card {
		width: 50%;
		height: 30vw;
	}
}

@media screen and (max-width: 600px) {
	.card {
		height: 50vw;
	}
	.card p {
		font-size: 14px;
	}
}

/*END FLIP GRID*/

section#boltBackground {
	width: 100%;
	min-height: 80vh;
	background: url(../images/boltJr_Background.jpg) fixed center no-repeat;
	background-size: cover;
	border-top: 5px solid #222;
	border-bottom: 5px solid #222;
}

.comparison-bolt {
	width: 100%;
	max-width: 1000px;
	min-height: 750px;
	margin: 0 auto;
	height: 80vh;
	background: url(../images/boltJr_Image_3.png) center bottom no-repeat scroll;
	background-size: 100% auto;
}

.boltCompare {
	width: 100%;
	margin: 85px auto 100px;
	text-align: center;
	max-width: 700px;
}

@media screen and (max-width: 990px) {
	section#boltBackground {
		background-size: auto 100%;
	}
	.comparison-bolt {
		min-height: 0;
	}
}

.specsTable {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	margin: 240px auto 180px;
	max-width: 980px;
}

.specsTable div {
	width: 100%;
}

.specsTable table {
	width: 100%;
}

.specsTable td {
	width: 33%;
	padding: 0;
	margin: 0;
}

.specsTable h3 {
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
	color: #EA6429;
}

.specsTable .first h3 {
	text-align: center;
}

.specsTable p {
	color: #DDDDDD;
	border-bottom: 1px solid #242424;
	margin: 0;
	padding: 5px 0 5px;
}

.specsTable .first p {
	color: #666;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none;
}

.specsTable .button {
	margin-top: 50px;
}

.button a {
	padding: 15px 32px;
	background: none;
	border: 2px solid #EA6429;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 25px;
	color: #CCC;
	font-weight: 500;
	text-decoration: none;
	transition: all ease 0.3s;
}

.button a:hover {
	background: #EA6429;
	color: #242424;
}

/*MAP*/

#map {
	width: 100%;
	height: 100%;
}

/*STYLING FOR CONTACT FORM*/

div.form {
	padding: 250px 10% 10%;
}

form {
	width: 100%;
	max-width: 600px;
	margin-left: -20%;
	background: #EA6429;
	padding: 30px;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.8);
	transition: all ease 1s;
}
#animationStation.hello-contact form{
	margin-left: 0;
}

form h3 {
	color: #242424;
	font-weight: 300;
}
input {
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	color: #FFF;
	margin: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #FFF;
	text-transform: uppercase;
	padding:6px 10px;
	background: none;
	line-height: 14px;
	border-radius: 0;
}
input::placeholder, textarea::placeholder {
  color: #FFF;
	font-weight: 300;
	font-size: 14px;
}

textarea {
	width: 100%;
	font-size: 13px;
	line-height: 14px;
	color: #FFF;
	padding: 10px;
	background: none;
	font-weight: 300;
	margin-top: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #FFF;
	resize: none;
	border-radius: 0;
}

form button {
	border-radius: 0;
	-webkit-appearance: none;
	background: none;
	border: none;
	transition: all ease 0.4s;
	float: right;
	margin-right: 10px;
}

form button:hover {
	margin-right: 0;
}

.contact-verif-code {
	margin: 8px 0;
	width: 140px;
	font-size: 15px;
	padding: 8px 13px;
	text-align: center;
	font-weight: 500;
	color: #242424;
	display: inline-block;
	position: relative;
	border: none;
	background: rgba(0,0,0,0.2);
}

.contact-verif-image {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 70px;
}

.contact-verif-image img {
	display: inline-block;
	position: relative;
	margin: 8px 0 0 8px;
	padding: 0;
	width: 70px;
	height: 30px;
}

.prompt {
	border: none;
	color: #242424;
	font-size: 16px;
	font-weight: 300;
	line-height: 14px;
	padding: 9px 0 10px;
	margin: 10px 0;
	text-align: left;
	/*animation: fadeOut ease 3s forwards;*/
	animation-delay: 5s;
}

@keyframes fadeOut {
	0% {opacity: 1;}
	40% {opacity: 0; height: 25px;}
	60% {opacity: 0; height: 25px;}
	100% {opacity: 0; height: 0;}
}

.thanks {
	border: none;
	color: #242424;
	font-size: 16px;
	font-weight: 300;
	line-height: 14px;
	padding: 9px 0 10px;
	margin: 10px 0;
	text-align: left;
}

.hidden {
	display: none;
}

/*FOOTER AREA*/

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: absolute;
}

.social, .footer {
	padding: 8% 6%;
}

footer p {
	color: #666;
	font-weight: 500;
}

footer p span {
	color: #EA6429;
}

footer p span.dark {
	color: #333;
}

footer a.link {
	color: #DDDDDD;
	transition: all ease 0.3s;
	text-decoration: none;
}

footer a.link:hover {
	color: #EA6429;
}

footer .copyright {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 12%;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	font-weight: 300;
	border: none;
}

footer img.mrmc {
	width: 150px;
	height: auto;
	margin: 30px 0;
}

footer .social h3 {
	font-family: 'Lobster', cursive;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	margin: 0;
}
footer .social ul {
	padding: 0;
  margin: 20px auto 0;
	text-align: center;
}
footer .social-icon {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	display: inline-block;
}

footer .social-icon .fillSVG {
	fill: #FFF;
	transition: all ease 0.3s;
}

footer .social-icon:hover .fillSVG {
	fill: #EA6429;
}

a.ddwCredits {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 6%;
	text-align: center;	
	font-size: 14px;
	color: #555;
	text-decoration: none;
	font-weight: 500;
	border: none;
	transition: all ease 0.5s;
}

a.ddwCredits span {
	color: #333;
	transition: all ease 0.5s;
}

a.ddwCredits:hover {
	color: #EA6429;
}

a.ddwCredits:hover span {
	color: #555;
}

@media screen and (max-width: 990px) {
	section {
		min-height: 0;
		display: block;
	}
	section ul {
		padding: 50px 10% 0;
	}
	section#the-bolt-junior{
		background: #242424;
	}
	section#features{
		background: #010101;
	}
	section#specs{
		background: #242424;
	}
	section#contact{
		background: #010101;
	}
	.fullWidth {
		padding-left: 10%;
		padding-right: 10%;
	}
	.halfSection {
		width: 100%;
	}
	.bottom30 {
		display: none;
	}
	.lineDeco {
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.title.onRight {
		left: 8%;
	}
	section#the-bolt-junior {
		height: 105vh;
		overflow: visible;
	}
	section#the-bolt-junior p {
		margin-right: 30px;
	}
	.textTop p {
		width: 90%;
		max-width: 400px;
	}
	.img1 {
		background-position: center bottom;
		width: 93%;
		height: 105vh;
		opacity: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
	#animationStation.hello-bolt section#the-bolt-junior .img1 {
		width: 93%;
		opacity: 0.8;
		right: 2%;
	}
	.img2 {
		width: 100%;
		margin-top: 100px;
		position: relative;
	}
	section ul li {
		font-weight: 500;
	}
	#animationStation.hello-features section#features .img2 {
		background-size: auto 100%;
		opacity: 0.8;
	}
	#features ul {
		margin: 30px auto 0;
	}
	.flairContainer {
		margin: 200px auto 20px;
	}
	.specsTable {
		margin: 240px auto 180px;
	}
	section#flair {
		min-height: 100vh;
		margin: 0;
		border: none;
	}
	.flairImage {
		margin: 50px auto 0;
		min-height: 0;
		background-size: contain;
	}
	section#boltBackground {
		min-height: 0;
		height: 200px;
		margin: 0;
		border: none;
		background: none;
		padding: 20px 0;
	}
	.comparison-bolt {
		height: 100%;
		min-height: 0;
		background-size: contain;
		background-image: url(../images/boltJr_Image_3_shorter.png)
	}
	.greyBack, .greyBackDarkest, .greyBackDark, .greyBackDarker {
		background: none;
	}
	div.form {
		padding: calc(10% + 120px) 0 0;
	}
	#map {
		height: 80vh;
		min-height: 600px;
	}
	.twoThirds {
		width: 100%;
		display: block;
	}
	.oneThird {
		width: 100%;
	}
	footer {
		padding: 20px 40px 40px;
		text-align: center;
	}
	.social, .footer {
		padding: 2%;
	}
	footer p {
		text-align: center;
	}
	footer .copyright {
		display: none;
	}
	footer img.mrmc {
		width: 120px;
		height: auto;
	}
	footer .social h3 {
	}
	footer .social ul {
		margin: 20px auto 40px;
	}
	footer .social-icon {
		margin-left: 5px;
		margin-right: 5px; 
	}
	a.ddwCredits {
		left: 0;
		right: 0;
		bottom: 30px;
	}
	form button {
		margin-right: -10px;
	}
}

@media screen and (max-width: 600px) {
	.img1 {
		height: 600px;
	}
}

section .showUp {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
}

#animationStation.bye-bolt section#the-bolt-junior .showUp,
#animationStation.bye-features section#features .showUp,
#animationStation.bye-specs section#specs .showUp,
#animationStation.bye-flair section#flair .showUp,
#animationStation.bye-contact section#contact .showUp {
	opacity: 0;
}

#animationStation.hello-bolt section#the-bolt-junior .showUp,
#animationStation.hello-features section#features .showUp,
#animationStation.hello-specs section#specs .showUp,
#animationStation.hello-flair section#flair .showUp,
#animationStation.hello-contact section#contact .showUp {
	opacity: 1;
}